.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #6361fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.course-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.300rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  max-width: 18rem;
}

.card-img-top {
  width: 100%;
  height: 100px;
  border-radius: 0.375rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.enroll-btn {
  width: 100%;
}
